#dd{
	/*width: 1264px;*/
/*	width: 1920px;*/
	width: 100%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}
.header{
	width: 100%;
	height: 112px;
	position: relative;
    z-index: 100;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.toubu{
	width: 100%;
	height: 50px;
	background: #009B72; 
	overflow: hidden; 
}
.toubuli{
	width: 1200px;
	height: 48px;
	margin:0 auto;
	overflow: hidden;
}

.toubuli .zuozi li{
	list-style: none;
	float: left;
	border-left: 1px solid #47b488;
	letter-spacing: normal;
	margin: 8px 0px;
	font-size: 13px;
	color: #FFF;
	
}
.zuozi li a{
	padding: 8px 20px 6px;
	color: #FFF;
	text-decoration: none;
	 line-height: 18px;
}
.zuozi li a:hover{
	background: #57B488;
}
.sousuo{
	width: 58px;
	height: 35px;
    margin-left: 928px;
    text-align: center;
}

.sousuo img{
	width: 22px;
	height: 20px;
	margin-top: 8px;
}

.sousuo:hover{
	background: #57B488;
}

.toubuli .youzi{  
	margin-top: 0px;
	float: right;
	margin-top: -30px;
}
.youzi li{
	list-style: none;
	float: left;
	border-left: 1px solid #47b488;
	letter-spacing: normal;
	font-size: 13px;
	color: #FFF;
    line-height: 24px;
}
.youzi li a{
	padding: 8px 20px 6px;
	color: #FFF;
	text-decoration: none;
	font-size: 13px;
}
.youzi li a:hover{
	background: #57B488;
}

.ss{
	width: 100%;
	height: 92px;
	position: absolute;
	background: #ededed;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	z-index: 5;
	display: none;
}
.ssli{
	width: 1200px;
	height: 92px;
	margin: 0 auto;
	background: #ededed;
}
.sk{
	width:588px;
	height:92px;
	text-align: right;
	float: right;
}
.xsk{
	width:548px;
	height:52px;
	text-align: right;
	margin-top: 20px;
}
.xsk .sk1{
	width: 412px;  /* //414px*/
	height: 50px;    /*//52px*/
	border: 1px solid #cccccc;
	font-size: 16px;
	color: #CCCCCC;
	float: left;
}
.xsk .sk2{
	width: 132px;
	height: 53px;
	background: #2aad6f;
	border: 1px solid #269d65;
	color: #fff;
	font-size: 16px;
}
/*.danghang{
	height: 65px;
	width: 100%;
	margin-top: 20px;
}*/

.daohangli{
	width: 1200px;
	height: 70px;
	margin:0 auto;
	overflow: hidden;
}
.daohangy{
	width: 150px;
	height: 49px;    /*//58px*/
	border: 1px solid #e8e8e8;
	border-radius: 4px;
	float: right;
	font-size: 14px;
	margin-top: 5px;    /*  //8px*/
}
.daohangy p span{
	margin-top: 12px;        /*//20*/
	color: #7b7b7b;
	margin-left: 16px;
	float: left;
}
.daohangy .gwc{
	width: 29px;
	height: 28px;
	float: left;
	margin-left: 30px;
	margin-top: 4px;   /*//14*/
	background: url(../img/购物车.png)no-repeat;
}
.daohangy .yuan{
	position: absolute;
	z-index: 1;
	background: #2aad6f;
	text-align: center;
	width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 40px;
    float: left;
}
.daohangli img{
	width: 190px;
	height: 31px;
	margin-top: 25px;
}
.daohangzi{
	margin-right: 20px;
	float: right;
	margin-top: 33px;
}
.daohangzi .sc{
	border-bottom: 3px solid #2AAD6F;
	padding-bottom: 2px;
}
.daohangzi li{
	float: left;
	list-style: none;
}	
.daohangzi li a{
	text-decoration: none;
	margin-left: 60px;
	color: #7b7b7b;
	font-size: 15px;
	font-weight: bold;
}
.daohangzi li a:hover{
	color: #000000;
}
.box{
	width: 1200px;
	height: 86px;
	margin:0 auto;
}
*{
			cursor: pointer;
		}
		#shopTable{
			width: 98%;
			margin: 0 auto;
			
		}
		table{
			width: 79%;
			border: 1px solid #CCCCCC;
			border-collapse: collapse;
			margin-left: 150px;
		}
		table tr td{
			border:1px solid #CCCCCC;
			padding: 10px;
		}
		input[type="button"]{
			border: 1px solid #CCCCCC;
			background: #eee;
			padding: 6px 12px;
			margin: 0 10px;
		}


.floor8{
	width: 100%;
	height: 170px;
}
.floor8li{
	width: 1314px;
	height: 170px;
	
	margin-left: 138px;
} 
.floor8li a:hover{
	color: #2AAD6F;
}
.floor8li .uls1{
	width: 164px;
	height: 163px;
	color: #7b7b7b;
	font-size: 15px;
	list-style: none;
	float: left;
}
.floor8li .uls1 li h2{
	color: #1f8657;
	font-size: 20px;
	font-weight: bold;
}

.floor8li .uls2{
	width: 235px;
	height: 163px;
	color: #7b7b7b;
	font-size: 15px;
	list-style: none;
	float: left;
}
.floor8li .uls2 li h2{
	color: #1f8657;
	font-size: 20px;
	font-weight: bold;
}

.floor8li .uls3{
	width: 235px;
	height: 163px;
	color: #7b7b7b;
	font-size: 15px;
	list-style: none;
	float: left;
}
.floor8li .uls3 li h2{
	color: #1f8657;
	font-size: 20px;
	font-weight: bold;
}

.floor8li .uls4{
	width: 235px;
	height: 163px;
	color: #7b7b7b;
	font-size: 15px;
	list-style: none;
	float: left;
}
.floor8li .uls4 li h2{
	color: #1f8657;
	font-size: 20px;
	font-weight: bold;
}

.floor8li .uls5{
	width: 235px;
	height: 163px;
	color: #7b7b7b;
	font-size: 15px;
	list-style: none;
	float: left;
}
.floor8li .uls5 li h2{
	color: #1f8657;
	font-size: 20px;
	font-weight: bold;
}
.floor10{
	width: 100%;
	height: 140px;
}
.floor10li{
	width: 1200px;
	height: 40px;
	margin: 0 auto ;
}
.floor10li p{
	font-size: 13px;
	color: #7b7b7b;
	letter-spacing: 0.01em;
	float: left;
	margin-top: 30px;
}
.floor10li img{
	margin-left: 14px;
	margin-top: 25px;
	float: left;
}
